body {
  background-color: rgb(15, 18, 24);
}

#navBar {
  display: flex;
  justify-content: space-around; 
  margin: -84.2vh auto auto 31vw;
  height: 4.7vh;
  width: 53.05vw;
}


#navBar a {
  color: rgb(109, 119, 129);
  font-size: 20px;
  text-decoration: none;
  padding-top: 1.2vh;

  transition: 0.3s ease all;
}

#navBar a:hover {
  border-bottom: 1px solid red;
}

#app {
  margin: 5vh auto auto 15vw;
  height: 80vh;
  width: 15.3vw;
  color: white;
}

#dataDiv {
  display: flex;
  margin: 6vh auto auto 34vw;
  height: 40vh;
  width: 45vw;
  overflow-y: auto;
}

#repCrds {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  height: 200px;
}

.card {
  background-color: rgb(25, 29, 35);

}

.card-body {
  background-color: rgb(10, 13, 19);
  color: rgb(200, 209, 217);
  font-size: 15px;
}

.card-body h5 {
  color: rgb(89, 166, 255);
}

#formCreate {
  margin: 1.2vh auto auto 31vw;
  height: 32.4vh;
  width: 53.05vw;
}

footer {
  display: flex;
  justify-content: space-around;
  margin: 20vh auto 15px -15vw;
  height: 4.7vh;
  width: 69.1vw;
}

footer p {
  color: rgb(109, 119, 129);
  font-size: 12px;
  padding-top: 1.5vh;
}

footer a {
  color: rgb(89, 166, 255);
  font-size: 14px;
  text-decoration: none;
  padding-top: 1.2vh;
}

#profile {
  height: 100%;
  width: 100%;
  font-size: 14px;
  background-color: rgb(15, 18, 24);
  color: rgb(200, 209, 217);
  padding: 1vh auto auto 5vw;
  padding-left: 5vw;
  padding-top: 1vh;
  line-height: 14px;
}

#profile img {
  object-fit: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#profile h4 {
  font-size: small;
}

form label {
  color: rgb(200, 209, 217);
  font-weight: bold;
}

form h4 {
  color: rgb(200, 209, 217);
}

form p {
  color: rgb(134, 142, 152)
}

form label {
  color: rgb(200, 209, 217);
  font-weight: bold;
}

.mb-3 {
  width: 800px;
  padding-left: 2.7vw;
}

.form-control, .form-control:focus {
  background-color: rgb(10, 13, 19);
  color: rgb(200, 209, 217);
  border: 2px solid rgb(25, 29, 35);
}

.form-control::placeholder {
  color: rgb(200, 209, 217);
}


button {
  background-color: rgb(35, 134, 54);
  border-radius: 10px;
  color: white;
  padding: 8px 20px;
  font-weight: 500;
  border-style: none;
  margin-top: 20px;
}

a {
  text-decoration: none;
}

.list-group-item {
  background-color: rgb(10, 13, 19);
  color: rgb(200, 209, 217);
  border: 2px solid rgb(25, 29, 35);
}
